@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>Code Viewer</title>
    </head>
<body>
    <h2>Backend Code</h2>
    <textarea rows="30" cols="100">@ViewBag.CodeText</textarea>
</body>
</html>
