<form asp-action="Login" method="post">
    <h1>Login Portal</h1><br/><br/>
    <div class="mb-3">
        <lable>User Name</lable>
        <input name="Username" type="text" autocomplete="off"/>
    </div><br/>
    <div class="mb-3">
        <lable>Password</lable>
        <input name="Password" type="password" autocomplete="off"/>
    </div><br/>
    <div class="mb-3">
        <button class="btn btn-warning">Login</button>
    </div><br/>

</form>