<form asp-action="UserLogin" method="post">
    <h1>Login Portal</h1><br /><br />
    <div class="mb-3">
        <label>User Name</label>
        <input name="Username" type="text" autocomplete="off" class="form-control-sm" />
    </div><br />
    <div class="mb-3">
        <label>Password</label>
        <input name="Password" type="password" autocomplete="off" class="form-control-sm" />
    </div><br />
    <div class="mb-3">
        <button type="submit" class="btn btn-warning">Login</button>
    </div><br />
</form>
